<!DOCTYPE html>
<html  lang="en">

<head th:replace="fragments :: html_head">
</head>

<body class="sb-nav-fixed">
<nav th:replace="fragments :: html_nav" class="sb-topnav navbar navbar-expand navbar-dark bg-dark">

</nav>

<div id="layoutSidenav">
  <div th:replace="fragments :: html_menu" id="layoutSidenav_nav">

  </div>

  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid px-4">
        <h1 class="mt-4">Thông tin công ty</h1>
        <div class="card mb-4">
          <div class="card-header">
            <div th:if="${msg == 'success'}" class="alert alert-success">
              <strong>Thành công!</strong>
            </div>
          </div>
          <div class="card-body">
            <form th:action="@{/user/company-update}" method="post" enctype="multipart/form-data">
              <div class="row">
                <div class="col-6">
                  <label for="addname"
                         class="col-form-label">Tên công ty:</label>
                  <input type="text" class="form-control"
                         id="addname" name="name" th:value="${company.name}" required>
                </div>
                <div class="col-6">
                  <label for="addcost"
                         class="col-form-label">Email liên hệ:</label>
                  <input type="email" class="form-control"
                         id="addcost" name="email" th:value="${company.email}" required>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <label for="addname"
                         class="col-form-label">Số điện thoại liên hệ:</label>
                  <input type="number" class="form-control"
                         id="addname" name="sdt" th:value="${company.phoneNumber}" required>
                </div>
                <div class="col-6">
                  <label for="addname"
                         class="col-form-label">Địa chỉ:</label>
                  <input type="text" class="form-control"
                         id="addname" name="diachi" th:value="${company.address}" required>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Lưu </button>
              </div>
            </form>
          </div>
        </div>
      </div>

    </main>


    <footer th:replace="fragments :: footer" class="py-4 bg-light mt-auto">

    </footer>
  </div>
</div>

<script src="js/JQuery3.3.1.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script src="js/scripts.js"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
<script src="js/datatables-simple-demo.js"></script>
</body>

</html>